<!DOCTYPE html>                                                                                                     
<html>                                                                                                              <head>                                                                                                            
  <title>Test Git at Home</title>                                                                                   
  <meta name="viewport" content="width=device-width">                                                               
  <link rel="stylesheet" type="text/css" href="css/site.css">                                                       
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
</head>                                                                                                           
<body>
  {{ content }}
</body>
<script src="https://use.fontawesome.com/5a71ccaf68.js"></script> 
<script type="text/javascript" src="js/analytics.min.js"></script>
<script type="text/javascript" src="js/navigation.js"></script>   
	                                                                    
</html>                                                             
