//$small-screen-min: 0;
//$small-screen-max: 40em;
$small-screen-max: 400px;
//$medium-screen-min: 40.0625em;
//$medium-screen-max: 64em;
$medium-screen-min: 405px;
//$large-screen-min: 64.0625em;
//$large-screen-max: 90em;
$large-screen-min: 768px;
//$xlarge-screen-min: 90.0625em;
//$xlarge-screen-max: 120em;

//$xxlarge-screen-min: 120.0625em;
