@media only screen {
	nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 5rem;
    width: 100%;
    background-color: $color-nav-background;
    background-image: url('..//images/fivediamondsname_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    z-index: 1;
  }
}

@media only screen and (min-width: $medium-screen-min) {

}

@media only screen and (min-width: $large-screen-min) {

}
