@media only screen {
  $nav-thickness: 6rem;
  $nav-zindex: 1;
	nav {
    position: fixed;
    top: 0px;
    left: 0px;
    height: $nav-thickness;
    width: 100%;
    background-color: $color-nav-background;
    //background-image: url('..//images/fivediamondsname_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    z-index: $nav-zindex;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  a.hamburger {
    display: inline-block;
    color: inherit;
    height: $nav-thickness;
    width: $nav-thickness;
    position: relative;
  }

  a.hamburger > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  div.mobile-nav.closed {
    display:none;
    height: 100%;
  }

  div.mobile-nav.open {
    position: absolute;
    top: $nav-thickness;
    right: 0px;
    display: block;
    background-color: $color-nav-background;
    color: white;
    margin: 0px;
    width: 90%;
    height: 100%;
    text-align: center;
    z-index: $nav-zindex;
  }

  div.mobile-nav > ul {
    list-style-type: none;
    font-size: $nav-thickness - 2;
  }
}

@media only screen and (min-width: $medium-screen-min) {

}

@media only screen and (min-width: $large-screen-min) {

}
