@media only screen {
  $nav-zindex: 1;
  //main navigation
	nav.main {
    position: fixed;
    top: 0px;
    left: 0px;
    height: $nav-thickness;
    width: 100%;
    z-index: $nav-zindex;
    background-color: $color-nav-background;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  nav.main > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: $brand-bar-bubble-size;
  }

  nav.main > ul > li {
    margin: .25rem .5rem;
  }

  //brand bar on phone, may not use this
  div.mobile-brand {
    background-color: inherit;
    background-image: url('..//images/fivediamondsname_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    color: inherit;
    height: 100%;
    width: 75%;
  }

  div.mobile-nav {
    position: absolute;
    top: $nav-thickness;
    right: 0px;
    display: block;
    background-color: $color-nav-background;
    color: white;
    margin: 0px;
    width: 0;
    height: 100%;
    text-align: center;
    z-index: $nav-zindex;
    overflow-x: hidden;
    -webkit-transition: all .5s ease;//.5s ease-in-out;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  div.mobile-nav.open {
    width: 90%;
  }

  div.mobile-nav > ul {
    list-style-type: none;
    font-size: $nav-thickness - 2;
  }

  #nav-icon {
  width: $nav-thickness - 1;
  height: $nav-thickness - 1;
  position: relative;
  margin: 0 1rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

$hamburger-top-offset: .2rem;
$hamburger-layer-height: .5rem;
$hamburger-left-offset: 8px;

#nav-icon span {
  display: block;
  position: absolute;
  height: $hamburger-layer-height;
  width: 100%;
  background: white; //#d3531a;
  border-radius: $hamburger-layer-height;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

@for $i from 1 through 3 {
  #nav-icon span:nth-child(#{$i}) {
    top: ($hamburger-top-offset + ($hamburger-layer-height * (($i - 1) * 2)));
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: ($hamburger-top-offset);
  left: $hamburger-left-offset;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: ($hamburger-top-offset + ($hamburger-layer-height * 4.1));
  left: $hamburger-left-offset;
}
}

@media only screen and (min-width: $medium-screen-min) {

}

@media only screen and (min-width: $large-screen-min) {

}
